<div id="<%= dom_id onsite %>">
  <p>
    <strong>Job:</strong>
    <%= onsite.job_id %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= onsite.label %>
  </p>

  <p>
    <strong>Google place:</strong>
    <%= onsite.google_place_id %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= onsite.priority %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= onsite.status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= onsite.note_id %>
  </p>

</div>
