<%# locals: (form:) -%>

<%=
  application_form_with(model: form,
                      url: organization_membership_url(current_organization),
) do |f| %>
  <%= f.fieldset("aria-required": true, id: f.field_id(:membership_type)) do %>
    <%= f.legend do %>
      <%= badge_icon %> Role
      <%= f.field_errors :membership_type, class: 'visually-hidden', id: f.field_id(:membership_type, :errors_aria) %>
    <% end %>

    <%= f.required_radio_collection_wrapper(:membership_type, "validation-message": form.errors.generate_message(:membership_type, :blank), class: "stack-compact") do %>
      <%= f.radio_collection(field_method: :membership_type, options: membership_type_options) %>
    <% end %>

    <%= f.field_errors :membership_type, "aria-hidden": true, id: f.field_id(:membership_type, :errors) %>
  <% end %>

  <%= f.fallback_error_section(options: {id: dom_id(form, :generic_errors)}) %>

  <section>
    <%= render PracticalFramework::Components::StandardButton.new(title: t("organization_memberships.edit.form.submit_button_title"), leading_icon: badge_icon, type: :submit, html_options: {data: {disable: true}}) %>
  </section>
<% end %>