<%= practical_form_with(
      model: resource,
      as: resource_name,
      url: registration_path(resource_name),
      local: false,
      id: dom_id(resource, :settings_form),
      "aria-describedby": dom_id(resource, :generic_errors),
      method: :put,
      data: {
        "reauthentication_challenge_url": new_user_reauthentication_challenge_url,
        "reauthentication_token_url": user_reauthentication_url,
        "reauthentication_token_field_name": "#{resource_name}[reauthentication_token]"
      },
      builder: PracticalFramework::FormBuilders::Base,
      class: "stack-compact"
) do |f| %>
  <%= f.fieldset do %>
    <%= f.legend do %>
      <%= icon(style: 'fa-solid', name: 'id-card') %>
      <%= t("user_settings.profile.form.title") %>
    <% end %>

    <%= f.input_wrapper do %>
      <%= f.label :email do %>
        <%= email_address_icon %>
        Email
      <% end %>

      <%= f.email_field(:email, placeholder: t("practical_framework.forms.placeholders.email"),
                                autofocus: true,
                                autocomplete: "username webauthn",
                                required: true,
                                data: {"focusout-validation": true}
                       )
      %>

      <%= f.field_errors :email %>
    <% end %>

    <%= f.input_wrapper do %>
      <%= f.label :name do %>
        <%= user_name_icon %>
        Name
      <% end %>

      <%= f.text_field(:name, placeholder: t("practical_framework.forms.placeholders.name"),
                                autofocus: true,
                                autocomplete: "name",
                                required: true,
                                data: {"focusout-validation": true}
                       )
      %>

      <%= f.field_errors :name %>
    <% end %>

    <%= f.hidden_field :reauthentication_token, id: dom_id(resource, :settings_reauthentication_token) %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <em>Currently waiting confirmation for: <%= resource.unconfirmed_email %></em>
    <% end %>

    <section>
      <%= render PracticalFramework::Components::StandardButton.new(title: t("user_settings.profile.form.submit_button_title"), leading_icon: passkey_icon, type: :submit, html_options: {data: {disable: true}}) %>
    </section>
  <% end %>
<% end %>

<script type="module">
  import {submitFormEvent} from 'submit_form_after_reauthentication'
  document.getElementById(`<%= dom_id(resource, :settings_form) %>`).addEventListener('submit', submitFormEvent)
</script>